.homeBtn {
    padding: 1.5rem 10rem;
    background-color: #000;
    border: 1px solid #000;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
}

.homeBtn:hover {
    background-color: #ff9100;
    border-color: #ff9100;
}

.title {
    font-size: 5rem;
    text-align: center;
}

@media (max-width: 600px) {
    .title {
        font-size: 3rem;
    }

    .homeBtn {
        padding: 1.5rem 5rem;
        background-color: #000;
        border: 1px solid #000;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 600;
        transition: .5s;
        cursor: pointer;
    }
}

@media (max-width: 380px) {
    .title {
        font-size: 2rem;
    }

    .homeBtn {
        padding: 1rem 3rem;
        background-color: #000;
        border: 1px solid #000;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 600;
        transition: .5s;
        cursor: pointer;
    }
}