.container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btns {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem
  ;
}